@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    font-family: poppins;
}
.header-wrp{
    background: url('./pexels-jason-villanueva-851555.jpg');
    height: 500px;
    background-size: cover;
    border-top: 2px solid orange
}

.header-overlay{
    background-color: rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.logo span{
    color: #fff;
    font-family: Qwitcher Grypen;
    font-size: 6em;
}
.navlinks{
    position: relative;
    display: flex;
    column-gap: 2em;
}
.menubtn{
    display: none;
}
.line{
    margin: 10px auto;
    width: 50em;
    height: 3px;
    background: rgb(214, 188, 150);
}
.lin2{
    margin: 10px auto;
    width: 50em;
    height: 3px;
    margin-top: 60px;
    background: rgb(214, 188, 150);
}
.navlinks a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: Poppins;
}
.navlinks a:hover{
    color: orange;
}
.home{
    background-color: orange;
    color: #eee;
    padding: 5px 8px;
}
.home:hover{
    color: white;
    background-color: rgb(156, 106, 11);
}
.herotxt{
    text-align: center;
    
}
.herotxt span{
    color: #fff;
    font-family: Qwitcher grypen;
    font-size: 4em;
}
.herotxt h1{
    font-family: poppins;
    color: #fff;
}
.herotxt p{
    color: #fff;
    font-family: Roboto;
    color: #fff;
    margin-bottom: 20px;
}

.herotxt .a1{
    background-color: orange;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    font-family: poppins;
}
.herotxt .a1:hover{
    background: transparent;
    color: #fff;
    border: 2px solid orange;
    transition: 0.3s;
}
.herotxt .a2:hover{
    background: transparent;
    color: #fff;
    border: 2px solid white;
    transition: 0.3s;
}
.herotxt .a2{
    background-color: #fff;
    padding: 10px 10px;
    color: red;
    text-decoration: none;
    font-family: poppins;
}
.boxtext-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin: 0 auto;
    margin-top: 5em;
}
.imgcontainer{
    width: 25em;
    height: 20em;
    padding-right: 25px;
}
.imgcontainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.textcontainer{
    width: 50%;
    margin-right: 25px;
}
.textcontainer label{
    font-family: roboto;
}
.textcontainer p{
    font-family: roboto;
    margin-bottom: 2.5em;
    margin-top: 10px;
}
.textcontainer h2{
    font-family: roboto;
    margin-top: 20px;
}
.textcontainer a{
    font-family: Poppins;
    text-decoration: none;
    color: red;
    display: inline-block;
    border: 2px solid gray;
    padding: 5px 7px;
}
.text4{
    width: 50%;
}
.text4 p{
    margin-bottom: 30px;
    width: fit-content;
}
.box4{
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    
}
.clienthead{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    font-family: poppins;
    font-size: 20px;
}
.clientblog{
    display: flex;
    text-align: center;
}
.clientblog img{
    border-radius: 50%;
    border: 2px solid orange;
}
.clientblog p{
    font-family: poppins;
    font-size: 15px;
    padding: 10px 15px;
}
.clientblog label{
    margin-top: 10px;
    font-family: roboto;
}
.swiper{
    width: 100%;

}
.swiper-wrapper{
    width: 100%;
    height: 43em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardimage{
    height: 30em;
    width: 22em;
    border-radius: 7%;
    padding: 4px;
    margin-bottom: 15px;
}
.cardimage img{
    width: 100%;
    height: 100%;
    border-radius: 4%;
    object-fit: cover;
}
.card{
    width: 22em;
    height: 96%;
    background-color: blanchedalmond;
    border-radius: 1em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid orange;
}
.cardcontent{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardtitle{
    font-family: roboto;
    font-size: 25px;
    margin-bottom: 8px;
}
.cardtext{
    text-align: center;
    font-family: poppins;
    font-size: 15px;
}
.recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    padding-left: 10px;
    margin: 0 auto;
    width: 100%;
    gap: 20px;
}
.cardlink{
    background-color: orange;
    color: white;
    padding: 4px 5px;
}
.textcontainer a:hover{
    color: #fff;
    background-color: orange;
    transition: 0.3s;
}

.cardsection a{
    text-decoration: none;
    color: rgb(121, 83, 14);
    display: inline-block;
    border: 2px solid gray;
    padding: 5px 7px;
}
.cardsection a:hover{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.685);
    display: inline-block;
    border: 2px solid gray;
    padding: 5px 7px;
}
.blogh1{
    font-family: Qwitcher Grypen;
    font-size: 10em;
    text-align: center;
    margin-top: 50px;
    color: rgb(177, 119, 10);
}
.container{
    display: flex;
    justify-content: center;
    
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-family: poppins;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    margin-top: 20px;
}
.checkmark::after{
    position: absolute;
    content: '';
    display: none;
}
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}
.container input:checked ~ .checkmark::after{
    display: block;
}
.container .checkmark::after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(180, 103, 103);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.order{
    text-align: center;
    font-family: roboto;
    font-size: 30px;
    margin-top: 3em;
}
.checkmark{
    position: absolute;
    top: 7px;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark{
    background-color: rgba(128, 128, 128, 0.363);
}
.ordernow{
    text-align: center;
    margin-top: 2em;
}
.ordernow a{
    background-color: orange;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 2px solid gray;
    padding: 5px 7px;
}
.ordernow a:hover{
    background: transparent;
    border: 2px solid orange;
    color: black;
    transition: 0.3s all ease-in-out;
}
.newslet{
    
    
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    gap: 5em;
    background-size: cover;
    width: 98%;
    border-radius: 10px;
    margin: 5em auto;
}

.newsmail{
    display: flex;
    flex-direction: column;
}
.newslet h2, label {
    font-family: roboto;
}
.newshead h1{
    font-family: poppins;
}
.newshead span{
    font-family: roboto;
}
.newsmail a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 5px 0;
}
.newsmail a:hover{
    background: transparent;
    border: 2px solid grey;
    color: orangered;
    transition: 0.3s;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: orange;
    gap: 10px;
    height: 15%;
    font-family: poppins;
    flex-wrap: wrap;
}
.footing{
    padding-top: 30px;
}
.socials{
    display: flex;
    column-gap: 20px;
}
.socials svg{
    filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1);
}
@media screen and (max-width: 840px) {
    .navlinks{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        top: 7em;
        height: 27em;
        left: -100%;
        background-color: black;
        transition: 0.3s all ease-in-out;
    }
    .menubtn{
        display: block;
        cursor: pointer;
    }
    .navlinks a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active{
        left: 0;
    }
}
@media screen and (max-width:700px){
    .textcontainer{
        width: 50%;
    }
    
}
@media screen and (max-width: 650px){
    .boxtext-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textcontainer label{
        display: none;
    }
    .textcontainer{
        width: 100%;
        text-align: center;
        padding: 5px 10px;
    }
    .imgcontainer{
        width: 100%;
        padding: 0 20px;
    }
    .newslet{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .newshead{
        width: 100%;
    }
    .newsmail{
        width: 100%;
    }
    .footing{
        text-align: center;
    }
}
@media screen and (max-width:500px) {
    .herotxt span{
        font-size: 3em;
    }
    .herotxt h1{
        font-size: 2em;
    }
    .herotxt{
        margin-top: 43px;
    }
    
}
